/* color palette from <https://github.com/vuejs/theme> */
:root {
    --white: #ffffff;
    --white-soft: #f8f8f8;
    --white-mute: #f2f2f2;

    --black: #181818;
    --black-soft: #222222;
    --black-mute: #282828;

    --indigo: #2c3e50;

    --divider-light-1: rgba(60, 60, 60, 0.29);
    --divider-light-2: rgba(60, 60, 60, 0.12);
    --divider-dark-1: rgba(84, 84, 84, 0.65);
    --divider-dark-2: rgba(84, 84, 84, 0.48);

    --text-light-1: var(--indigo);
    --text-light-2: rgba(60, 60, 60, 0.66);
    --text-dark-1: var(--white);
    --text-dark-2: rgba(235, 235, 235, 0.64);

    --emerald-green: hsl(160, 100%, 37%);
    --emerald-green-transparent: hsla(160, 100%, 37%, 0.2);
    --purple: hsl(256, 80%, 65%);
    --purple-transparent: hsla(256, 80%, 65%, 0.2);
    --blue: hsl(218, 57%, 54%);
    --blue-transparent: hsla(218, 57%, 54%, 0.2);
}

/* semantic color variables for this project */
:root {
    --color-background: var(--black);
    --color-background-soft: var(--black-soft);
    --color-background-mute: var(--black-mute);

    --color-border: var(--divider-dark-2);
    --color-border-hover: var(--divider-dark-1);

    --color-heading: var(--text-dark-1);
    --color-text: var(--text-dark-2);

    --color-accent: var(--purple);
    --color-accent-transparent: var(--purple-transparent);
}

body {
    color: var(--color-text);
    background: var(--color-background);
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    font-size: 15px;
}
