@import './base.css';

a {
    text-decoration: none;
    color: var(--color-accent);
    transition: 0.4s;
    padding: 3px;
    cursor: pointer;
}

@media (hover: hover) {
    a:hover {
        background-color: var(--color-accent-transparent);
    }
}

* {
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: stretch;
    /* align-items: stretch; */
    /* min-height: 300px; */
    margin: 0px 20px;
}

@media (min-width: 1170px) {
    .content {
        width: 1170px;
        margin: 0 auto;
    }
}

