@import './base.css';

a {
    text-decoration: none;
    color: var(--color-accent);
    transition: 0.4s;
    padding: 3px;
    cursor: pointer;
}

@media (hover: hover) {
    a:hover {
        background-color: var(--color-accent-transparent);
    }
}

* {
    margin: 0;
    padding: 0;
}
